<div class="slider-container">
    <div class="sliders">
        <div class="slider" id="1">
            <h2>Item 1</h2>
        </div>

        <div class="slider" id="2">
            <h2>Item 2</h2>
        </div>

        <div class="slider" id="3">
            <h2>Item 3</h2>
        </div>

        <div class="slider" id="4">
            <h2>Item 4</h2>
        </div>
    </div>

    <button class="prev">&#10094;</button>
    <button class="next">&#10095;</button>
</div>

    <div class="dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>